@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=M+PLUS+1p&display=swap');
html {
  font-family: 'M PLUS 1p', sans-serif;
}

* {
  box-sizing:border-box;
}
.container {
  width:100%;
  padding:0 20px;
  margin:0 auto;
}

.top-wrapper {
  padding:0 130px;
  background-color: #191970;
  opacity: 0.8;
  color:white;
  text-align:center;
}

.top-wrapper h1 {
  margin:0 auto;
  font-size:120px;
  letter-spacing:3px;
  display:inline-block;
}

.top-wrapper span {
  font-size:40px;
  letter-spacing:1px;
}

.heading {
  width:200px;
  margin-bottom:30px;
  font-size:33px;
  font-weight:bold;
  border-bottom: 3px solid gray;
}

.about-wrapper {
  height:400px;
  padding:30px 5% 60px 5%;
  font-size:20px;
}

.profile {
  width:50%;
  float:left;
}

.profile1 {
  margin-left:40px;
  padding-top:20px;
  float:left;
}

.profile1 p.name {
  font-size:25px;
  margin-bottom:10px;
}

.profile p {
  margin:0;
}

.profile1 span {
  width:5em;
  display:inline-block;
  text-align:left;
}

img.mask {
  height:180px;
  margin-left:40px;
}

.profile2 {
  width:90%;
  font-size:18px;
  padding:10px;
  margin-top:10px;
  background-color:#f4f9ff;
  border: 5px outset #9eceff;
}

.history {
  padding-top:20px;
  float:left;
}

.history details {
  margin-bottom:20px;
}

.history summary {
  width:10em;
  padding:3px;
  cursor:pointer;
  background-color:#eff7ff;
  box-shadow:2px 2px 3px black;
}

.history ul {
  padding:10px 40px;
  margin:0;
  font-size:17px;
  background-color:#f9f9f9;
  box-shadow:2px 2px 3px black;
}

span.year, span.month {
  display:inline-block;
  width:1.2em;
  text-align:right;
}

.training-wrapper {
  height:1000px;
  padding:30px 5% 60px 5%;
  font-size:20px;
}

.training-wrapper h4 {
  width:150px;
  margin:20px 0 0 0;
  text-align:center;
  border-bottom:3px solid #483d8b;
}

.work {
  height:300px;
  padding:10px 35px;
  margin-bottom:20px;
  background-color:#eee;
}

.work p {
  margin-bottom:5px;
  font-size:18px;
  padding:0 10px;
}

.work a {
  font-size:17px;
}

hr {
  width:100%;
  height:4px;
  border:none;
  background-color:#696969;
}

.fa-solid {
  margin-right:3px;
}

.pic {
  width:200px;
  margin-right:15px;
  float:left;
}
